In [1]:
%matplotlib inline
%precision 3

from numpy.random import randn
import numpy as np
import pandas as pd
np.random.seed(123)
import os
import re
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)

import datetime

from numpy import nan as NA

In [2]:
!head NCDB_1999_to_2014_s.csv

In [8]:
accident=pd.read_csv('NCDB_1999_to_2014_s.csv', engine='python')
accident.columns = accident.columns.map(lambda x: x[:].lower())
accident.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_rcfg,c_wthr,c_rsur,...,v_id,v_type,v_year,p_id,p_sex,p_age,p_psn,p_isev,p_safe,p_user
0,2013,06,2,12,2,02,21,02,1,1,...,02,01,2005,01,M,28,11,2,02,1
1,2013,06,2,09,2,01,06,02,1,1,...,01,11,2008,01,F,42,11,1,02,1
2,2013,06,2,09,2,01,06,02,1,1,...,01,11,2008,02,M,04,12,2,01,2
3,2013,06,2,09,2,01,06,02,1,1,...,01,11,2008,03,F,33,98,2,UU,U
4,2013,06,2,08,2,02,36,02,1,1,...,01,01,2005,01,F,44,11,2,02,1
5,2013,06,2,08,2,02,36,02,1,1,...,02,01,2002,01,M,51,11,1,02,1
6,2013,06,2,11,2,01,06,02,1,1,...,01,01,1997,01,M,45,11,1,02,1
7,2013,06,2,11,2,01,06,02,1,1,...,99,NN,NNNN,01,M,19,99,2,13,3
8,2013,06,2,11,2,01,06,02,1,1,...,01,01,2012,01,F,33,11,1,02,1
9,2013,06,2,11,2,01,06,02,1,1,...,99,NN,NNNN,01,F,76,99,2,13,3
10,2013,06,2,22,2,02,21,02,1,1,...,01,01,2002,01,F,20,11,1,02,1
11,2013,06,2,22,2,02,21,02,1,1,...,02,01,2008,01,M,25,11,2,02,1
12,2013,06,2,08,2,01,06,02,1,1,...,01,01,2012,01,M,25,11,1,02,1
13,2013,06,2,08,2,01,06,02,1,1,...,99,NN,NNNN,01,M,63,99,2,13,3
14,2013,06,2,07,2,02,36,02,3,2,...,01,01,2003,01,M,49,11,1,02,1
15,2013,06,2,07,2,02,36,02,3,2,...,02,01,1998,01,F,39,11,2,02,1
16,2013,06,2,18,2,03,21,02,1,1,...,01,01,2005,01,F,31,11,1,02,1
17,2013,06,2,18,2,03,21,02,1,1,...,02,01,2011,01,M,68,11,1,02,1
18,2013,06,2,18,2,03,21,02,1,1,...,03,01,2008,01,F,26,11,2,02,1
19,2013,06,2,15,2,04,21,01,1,2,...,01,01,2004,01,M,69,11,1,02,1

In [9]:
accident=accident.sort_values(['c_year','c_mnth','c_wday','c_hour'], ascending = True)
accident.head(20)

#data[['C_VEHS']] = data[['C_VEHS']].str.extract('(\d+)', expand=False)                        
#data[['C_VEHS']] = data[['C_VEHS']].fillna(-1).astype(int)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_rcfg,c_wthr,c_rsur,...,v_id,v_type,v_year,p_id,p_sex,p_age,p_psn,p_isev,p_safe,p_user
373,2013,06,2,00,2,02,36,03,1,1,...,01,01,2010,01,M,52,11,1,NN,1
374,2013,06,2,00,2,02,36,03,1,1,...,02,01,2001,01,F,41,11,2,02,1
594,2013,06,2,00,2,01,01,01,1,1,...,01,01,UUUU,01,U,UU,UU,U,UU,U
595,2013,06,2,00,2,01,01,01,1,1,...,99,NN,NNNN,01,F,21,99,2,UU,3
881,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2003,01,M,31,11,2,02,1
882,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2003,02,F,23,13,2,02,2
888,2013,06,2,00,2,02,03,UU,1,1,...,01,01,2012,01,F,50,11,1,02,1
889,2013,06,2,00,2,02,03,UU,1,1,...,02,17,UUUU,01,M,17,96,2,09,4
927,2013,06,2,00,2,02,35,UU,Q,1,...,01,01,2004,01,M,44,11,1,02,1
928,2013,06,2,00,2,02,35,UU,Q,1,...,01,01,2004,02,F,40,13,1,02,2
929,2013,06,2,00,2,02,35,UU,Q,1,...,01,01,2004,03,M,15,23,1,02,2
930,2013,06,2,00,2,02,35,UU,Q,1,...,02,01,2001,01,F,38,11,2,02,1
931,2013,06,2,00,2,02,35,UU,Q,1,...,02,01,2001,02,F,14,13,1,02,2
932,2013,06,2,00,2,02,35,UU,Q,1,...,02,01,2001,03,M,11,23,1,02,2
994,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2002,01,F,26,11,2,02,1
1033,2013,06,2,00,2,01,06,01,1,1,...,01,QQ,1996,01,M,41,11,2,02,U
1258,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,01,M,26,11,2,02,1
1259,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,02,M,21,13,2,02,2
1260,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,03,M,28,23,2,02,2
1261,2013,06,2,00,2,02,32,01,3,2,...,02,01,1992,01,F,46,11,1,UU,1

In [29]:
#Copy of the dataset
data = accident[:]
#Convert any non-numeric value to np.Nan (I applied these to the columns I'm using for my analysis)
data[['c_mnth','c_wday','c_hour','c_sev','c_vehs','c_conf','c_wthr','c_raln','p_psn','p_safe']] = data[['c_mnth','c_wday','c_hour','c_sev','c_vehs','c_conf','c_wthr','c_raln','p_psn','p_safe']].replace('^([A-Za-z])+$', np.nan, regex=True)
data.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_rcfg,c_wthr,c_rsur,...,v_id,v_type,v_year,p_id,p_sex,p_age,p_psn,p_isev,p_safe,p_user
373,2013,06,2,00,2,02,36,03,1,1,...,01,01,2010,01,M,52,11,1,NaN,1
374,2013,06,2,00,2,02,36,03,1,1,...,02,01,2001,01,F,41,11,2,02,1
594,2013,06,2,00,2,01,01,01,1,1,...,01,01,UUUU,01,U,UU,NaN,U,NaN,U
595,2013,06,2,00,2,01,01,01,1,1,...,99,NN,NNNN,01,F,21,99,2,NaN,3
881,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2003,01,M,31,11,2,02,1
882,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2003,02,F,23,13,2,02,2
888,2013,06,2,00,2,02,03,UU,1,1,...,01,01,2012,01,F,50,11,1,02,1
889,2013,06,2,00,2,02,03,UU,1,1,...,02,17,UUUU,01,M,17,96,2,09,4
927,2013,06,2,00,2,02,35,UU,NaN,1,...,01,01,2004,01,M,44,11,1,02,1
928,2013,06,2,00,2,02,35,UU,NaN,1,...,01,01,2004,02,F,40,13,1,02,2
929,2013,06,2,00,2,02,35,UU,NaN,1,...,01,01,2004,03,M,15,23,1,02,2
930,2013,06,2,00,2,02,35,UU,NaN,1,...,02,01,2001,01,F,38,11,2,02,1
931,2013,06,2,00,2,02,35,UU,NaN,1,...,02,01,2001,02,F,14,13,1,02,2
932,2013,06,2,00,2,02,35,UU,NaN,1,...,02,01,2001,03,M,11,23,1,02,2
994,2013,06,2,00,2,01,06,UU,1,1,...,01,01,2002,01,F,26,11,2,02,1
1033,2013,06,2,00,2,01,06,01,1,1,...,01,QQ,1996,01,M,41,11,2,02,U
1258,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,01,M,26,11,2,02,1
1259,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,02,M,21,13,2,02,2
1260,2013,06,2,00,2,02,32,01,3,2,...,01,01,1998,03,M,28,23,2,02,2
1261,2013,06,2,00,2,02,32,01,3,2,...,02,01,1992,01,F,46,11,1,NaN,1

In [19]:
#Drop the missing values
data.dropna(axis=0,subset=['c_mnth','c_wday','c_hour','c_sev','c_vehs','c_conf','c_wthr','c_raln','p_psn','p_safe'],inplace=True)
data.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_rcfg,c_wthr,c_rsur,...,v_id,v_type,v_year,p_id,p_sex,p_age,p_psn,p_isev,p_safe,p_user
374,2013,06,2,0,2,2,36,03,1,1,...,02,01,2001,01,F,41,11,2,2,1
1033,2013,06,2,0,2,1,6,01,1,1,...,01,QQ,1996,01,M,41,11,2,2,U
1258,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,01,M,26,11,2,2,1
1259,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,02,M,21,13,2,2,2
1260,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,03,M,28,23,2,2,2
1390,2013,06,2,0,2,1,4,QQ,1,1,...,01,01,2005,01,M,59,11,2,2,1
163,2013,06,2,1,2,3,41,01,1,1,...,01,01,2000,01,M,41,11,2,2,1
1011,2013,06,2,1,2,1,4,01,6,2,...,01,08,2003,01,M,68,11,2,1,1
1020,2013,06,2,1,2,1,4,01,1,2,...,01,01,2001,01,M,23,11,2,2,1
1034,2013,06,2,1,2,1,6,01,1,2,...,01,01,2006,01,M,30,11,2,2,1
1039,2013,06,2,1,2,1,6,01,3,1,...,01,01,2011,01,F,39,11,2,2,1
1264,2013,06,2,1,2,1,4,01,2,1,...,01,01,2007,01,F,19,11,2,2,1
1460,2013,06,2,1,2,1,4,01,2,1,...,01,05,2000,01,M,30,11,2,1,1
1530,2013,06,2,1,2,2,35,02,1,1,...,01,01,2001,01,M,23,11,2,2,1
1531,2013,06,2,1,2,2,35,02,1,1,...,01,01,2001,02,F,24,13,1,2,2
1532,2013,06,2,1,2,2,35,02,1,1,...,02,01,2003,01,M,23,11,2,2,1
28,2013,06,2,2,2,3,21,02,1,1,...,01,01,2006,01,M,23,11,2,2,1
29,2013,06,2,2,2,3,21,02,1,1,...,01,01,2006,02,M,34,12,2,2,2
30,2013,06,2,2,2,3,21,02,1,1,...,02,01,2006,01,M,29,11,2,2,1
31,2013,06,2,2,2,3,21,02,1,1,...,02,01,2006,02,F,21,12,2,2,2

In [20]:
#This process is to eliminate the '0' preceding a single digit number. ex. 01 --> 1
data[['c_vehs','c_conf','p_safe']] = data[['c_vehs','c_conf','p_safe']].fillna(-1).astype(int)
data.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_rcfg,c_wthr,c_rsur,...,v_id,v_type,v_year,p_id,p_sex,p_age,p_psn,p_isev,p_safe,p_user
374,2013,06,2,0,2,2,36,03,1,1,...,02,01,2001,01,F,41,11,2,2,1
1033,2013,06,2,0,2,1,6,01,1,1,...,01,QQ,1996,01,M,41,11,2,2,U
1258,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,01,M,26,11,2,2,1
1259,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,02,M,21,13,2,2,2
1260,2013,06,2,0,2,2,32,01,3,2,...,01,01,1998,03,M,28,23,2,2,2
1390,2013,06,2,0,2,1,4,QQ,1,1,...,01,01,2005,01,M,59,11,2,2,1
163,2013,06,2,1,2,3,41,01,1,1,...,01,01,2000,01,M,41,11,2,2,1
1011,2013,06,2,1,2,1,4,01,6,2,...,01,08,2003,01,M,68,11,2,1,1
1020,2013,06,2,1,2,1,4,01,1,2,...,01,01,2001,01,M,23,11,2,2,1
1034,2013,06,2,1,2,1,6,01,1,2,...,01,01,2006,01,M,30,11,2,2,1
1039,2013,06,2,1,2,1,6,01,3,1,...,01,01,2011,01,F,39,11,2,2,1
1264,2013,06,2,1,2,1,4,01,2,1,...,01,01,2007,01,F,19,11,2,2,1
1460,2013,06,2,1,2,1,4,01,2,1,...,01,05,2000,01,M,30,11,2,1,1
1530,2013,06,2,1,2,2,35,02,1,1,...,01,01,2001,01,M,23,11,2,2,1
1531,2013,06,2,1,2,2,35,02,1,1,...,01,01,2001,02,F,24,13,1,2,2
1532,2013,06,2,1,2,2,35,02,1,1,...,02,01,2003,01,M,23,11,2,2,1
28,2013,06,2,2,2,3,21,02,1,1,...,01,01,2006,01,M,23,11,2,2,1
29,2013,06,2,2,2,3,21,02,1,1,...,01,01,2006,02,M,34,12,2,2,2
30,2013,06,2,2,2,3,21,02,1,1,...,02,01,2006,01,M,29,11,2,2,1
31,2013,06,2,2,2,3,21,02,1,1,...,02,01,2006,02,F,21,12,2,2,2

In [23]:
#Slice the columns for my section of the data analysis
df = data.loc[:,['c_year','c_mnth','c_wday','c_hour','c_sev','c_vehs','c_conf','c_wthr','c_raln','p_psn','p_safe']]
df.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_wthr,c_raln,p_psn,p_safe
374,2013,06,2,0,2,2,36,1,1,11,2
1033,2013,06,2,0,2,1,6,1,1,11,2
1258,2013,06,2,0,2,2,32,3,2,11,2
1259,2013,06,2,0,2,2,32,3,2,13,2
1260,2013,06,2,0,2,2,32,3,2,23,2
1390,2013,06,2,0,2,1,4,1,1,11,2
163,2013,06,2,1,2,3,41,1,3,11,2
1011,2013,06,2,1,2,1,4,6,3,11,1
1020,2013,06,2,1,2,1,4,1,1,11,2
1034,2013,06,2,1,2,1,6,1,2,11,2
1039,2013,06,2,1,2,1,6,3,1,11,2
1264,2013,06,2,1,2,1,4,2,2,11,2
1460,2013,06,2,1,2,1,4,2,3,11,1
1530,2013,06,2,1,2,2,35,1,3,11,2
1531,2013,06,2,1,2,2,35,1,3,13,2
1532,2013,06,2,1,2,2,35,1,3,11,2
28,2013,06,2,2,2,3,21,1,4,11,2
29,2013,06,2,2,2,3,21,1,4,12,2
30,2013,06,2,2,2,3,21,1,4,11,2
31,2013,06,2,2,2,3,21,1,4,12,2

In [28]:
#Generate the date-time column "date", and assign it as the index.
df['date'] = pd.PeriodIndex(df['c_year'].map(str) + '-' + df['c_mnth'], freq='M')
df=df.set_index('date')
df.head(20)

,c_year,c_mnth,c_wday,c_hour,c_sev,c_vehs,c_conf,c_wthr,c_raln,p_psn,p_safe
date,,,,,,,,,,,
2013-06,2013,06,2,0,2,2,36,1,1,11,2
2013-06,2013,06,2,0,2,1,6,1,1,11,2
2013-06,2013,06,2,0,2,2,32,3,2,11,2
2013-06,2013,06,2,0,2,2,32,3,2,13,2
2013-06,2013,06,2,0,2,2,32,3,2,23,2
2013-06,2013,06,2,0,2,1,4,1,1,11,2
2013-06,2013,06,2,1,2,3,41,1,3,11,2
2013-06,2013,06,2,1,2,1,4,6,3,11,1
2013-06,2013,06,2,1,2,1,4,1,1,11,2
2013-06,2013,06,2,1,2,1,6,1,2,11,2
2013-06,2013,06,2,1,2,1,6,3,1,11,2
2013-06,2013,06,2,1,2,1,4,2,2,11,2
2013-06,2013,06,2,1,2,1,4,2,3,11,1
2013-06,2013,06,2,1,2,2,35,1,3,11,2
2013-06,2013,06,2,1,2,2,35,1,3,13,2
2013-06,2013,06,2,1,2,2,35,1,3,11,2
2013-06,2013,06,2,2,2,3,21,1,4,11,2
2013-06,2013,06,2,2,2,3,21,1,4,12,2
2013-06,2013,06,2,2,2,3,21,1,4,11,2
2013-06,2013,06,2,2,2,3,21,1,4,12,2